*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
  padding: 1rem;
  background: #bfdbfe;
}

#list-container {
  height: 100%;
  width: 100%;
  max-width: 50rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid black;
    box-shadow: 0 0 20px black;
    background: #2980B9;  
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); 
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); 
}
#list {
  overflow-x: hidden;
  padding: 0;
  padding-top: 1rem;
  overflow-y: scroll;
  border: 1px solid black;
  box-shadow: 0 0 20px black;
  border-radius: 0.5rem;
  max-height: 17rem;
}

#list::-webkit-scrollbar {
  width: 6px;
}
#list::-webkit-scrollbar-thumb {
  background: linear-gradient(#2dd4bf, #0d9488) ;
  border-radius: 100vw;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    gap: 0.7rem;
}

#form-btn {
  background:  #4ade80;
  width: 4rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background 0.2s ease-in;
}
#form-btn:hover{
  background-color: #38a861;
}
.form-input-container {
  color: #042f2e;
  font-family: math;
  font-size: 1.1rem;
}
#logout-btn{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
#log-out {
  background:  #4ade80;
  width: 7rem;
    height: 2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background 0.2s ease-in;
}
#log-out:hover{
  background-color: #38a861;
}

.border-edit{
  border-radius: 0.2rem;
  padding: 0.3rem;
}

.titulo {
  font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#title {
  color: black;
  font-family: math;
}

#imagen{
  display: flex;
  flex-direction: column;
  width: 125px;
    height: 100px;
}

.edit-btn {
  border-radius: 0.6rem;
  cursor: pointer;
  background: lightseagreen;
}

.delete-btn {
  border-radius: 0.6rem;
  background: #f87171;
  cursor: pointer;
}

#input-name {
    text-align: center;
    border-radius: 0.2rem;
}
#input-number {
    text-align: center;
    border-radius: 0.2rem;
}

.info {
  display: none;
}

.edit-icon, .delete-icon {
  width: 1.2rem;
  height: 1.5rem;
}

ul#list{
  padding: 0;
}

.contact  {
  list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem;
    border-bottom: 1px solid black;
    max-width: 25rem;
    font-size: 14px;
}

.form-input {
  outline: none
}

.form-input:focus {
  outline: none
}

.correct, .correct:focus {
  outline: 2px solid green;
}

.incorrect, .incorrect:focus {
  outline: 2px solid red;
}

.show {
  display: flex;
  justify-content: center;
    font-size: 0.8rem;
}

.border-edit {
  outline: 2px solid rgb(55, 45, 184);
} 

@media (min-width: 1024px){
 #input-name{
  font-size: 1rem;
 }
 #input-number{
  font-size: 1rem;
 }
 #form-btn{
  font-size: 1rem;
 }
 .contact{
  font-size: 16.5px;
 }
 .edit-icon, .delete-icon {
  width: 1.5rem;
  height: 1.7rem;
 }
 #list{
  max-height: 16rem;
 }
}

@media (min-width: 2560px){
  #title{
    font-size: 2.3rem;
  }
  #input-name{
    font-size: 1.3rem;
   }
   #input-number{
    font-size: 1.3rem;
   }
   #form-btn{
    font-size: 1.3rem;
   }
   .contact{
    font-size: 19px;
   }
   .edit-icon, .delete-icon {
    width: 1.7rem;
    height: 1.9rem;
   }
   .form-input-container{
    font-size: 1.5rem;
   }
}
