*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

h1, p {
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#imagen-login{
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 112px;
}

.notification {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  background-color: #4338ca;
  border-radius: 0.5rem;
  color: white;
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
  padding: 4rem;
  border: 1px solid black;
  box-shadow: 0 0 20px black;
  border-radius: 1.5rem;
}

#form-title {
  font-family: math;
  text-align: center;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-btn {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #4ade80;
  color: black;
  transition: background 0.2s ease-in;
}

.form-btn:hover {
  background-color: #38a861;
}

.form-input {
  background-color: #0e7490;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem;
  color: #f1f5f9;
  border: 1.5px solid black;
}

.show-notification {
  display: block;
}